<div id="header">
  <app-nav-top-logout></app-nav-top-logout>
</div>
<div class="content">
  <div class="container">
    <h1 i18n="Überschrift auf Access-Denied work-in-progess Seite@@HEADING_ACCESS_DENIED_WORK_IN_PROGRESS">
      Umbauarbeiten</h1>
    <div>
      <h4 i18n="Subheader auf Access-Denied Seite, work-in-progess@@SUBHEADER_ACCESS_WORK_IN_PROGRESS">Das
        Dokumentationssystem steht momentan nicht zur Verfügung.</h4>
      <p i18n="Infotext auf Access-Denied work-in-progess Seite@@INFO_ACCESS_DENIED_WORK_IN_PROGRESS">
        Aufgrund von Umbauarbeiten steht das Dokumentationssystem zurzeit nicht zur Verfügung.<br>
        Ab dem 27.1.2020 können Sie wieder darauf zugreifen.<br><br>
        Ihr Team von FairMietenFairWohnen</p>
    </div>
  </div>
</div>
