<div id="header">
  <app-nav-top-logout></app-nav-top-logout>
</div>
<div class="content">
  <div class="container">
    <h1 i18n="Überschrift auf Access-Denied Seite@@HEADING_ACCESS_DENIED">Zugriff verweigert</h1>
    <p *ngIf="id == errorCodes.GENERAL" i18n="Infotext auf Access-Denied Seite@@INFO_ACCESS_DENIED">Sie haben nicht die Berechtigung auf diesen Vorgang zuzugreifen</p>
    <div class="centered_content" *ngIf="id == errorCodes.GENERAL">
      <button type="button"
              i18n="Button um zurück zum Dashboard zu kommen@@BUTTON_BACK_TO_DASHBOARD"
              routerLink="/items">Zurück zum Dashboard</button>
    </div>
  </div>
</div>
