<div class="area-tab-content">
  <div class="area-tab-header">
    <h2>{{heading}}</h2>
  </div>
  <div *ngIf="item">
    <div>
      <div>
        <div class="row">
          <div class="col-6">
          </div>
          <div class="col-6">
            <div class="fmfw-table-button-row">
              <button id="button-add-item" (click)="showDialog2AddInvolved()" i18n="Button: Beteiligte*n oder Zeug*in hinzufügen@@BUTTON_ADD_INVOLVED">
                Beteiligte*n oder Zeug*in hinzufügen</button>
            </div>
          </div>
        </div>
        <div>
          <table class="table table-fixed fmfw-table table-striped" id="table_involved">
            <thead>
            <tr>
              <th i18n="Tabellenspalte Beschriftung: Name des*r Beteiligte*n oder des*r Zeuge*in - Tab Zeug*innen und Beweise@@TABLE_INVOLVED_COL_NAME_INVOLVED_NAME">
                <div>Name</div></th>
              <th i18n="Tabellenspalte Beschriftung: Kontaktdaten  einer Person bzw. Institution@@TABLE_LABEL_CONTACT">Kontakt</th>
              <th i18n="Tabellenspalte Beschriftung: Notiz zum*r Beteiligten oder Zeuge*in - Tab Zeug*innen und Beweise@@TABLE_INVOLVED_COL_NAME_INVOLVED_NOTE">
                <div>Bemerkung</div></th>
              <th><div></div></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let involved of item.involved_list ; let i=index">
              <td>{{involved.name}}</td>
              <td><fmfw-contact-list-view [context]="involved"></fmfw-contact-list-view></td>
              <td>
                <textarea readonly
                  class="form-control" rows="5">{{involved.note}}</textarea>
              </td>
              <td>
                <button type="button" class="icon-btn" (click)="editInvolved(i)"
                        i18n-title="Button-Tooltip: ändern@@BUTTON_TOOLTIP_EDIT" title="ändern">
                  <span class="ion ion-md-create"></span></button>
                <button type="button" class="icon-btn" (click)="delete(i, item.involved_list)"
                        i18n-title="Button-Tooltip: löschen@@BUTTON_TOOLTIP_DELETE" title="löschen">
                  <span class="ion ion-md-close-circle"></span></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="i-need-space"></div>
  </div>


  <div class="modal fade" bsModal #editInvolvedModal="bs-modal"
       tabindex="-1" role="dialog" aria-labelledby="dialog-edit-involved-name">
    <div class="modal-dialog  modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="dialog-edit-involved-name" class="modal-title pull-left"
              i18n="Modal-Header Beschriftung: Beteiligte*n oder Zeug*in hinzufügen und ändern@@MODAL_EDIT_INVOLVED_HEADER">
            Beteiligte*n oder Zeug*in ändern/hinzufügen</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="editInvolvedModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="editInvolvedForm" (ngSubmit)="onSubmitInvolved()">
          <div class="modal-body">
            <div *ngIf="editInvolvedForm.hasError('emptyFormCannotSubmitted')"
                 class="cross-validation-error-message alert alert-danger"
                 i18n="Fehlermeldung: im Modal muss mindestens ein Feld ausgefüllt werden@@ERROR_NO_FIELD_FILLED_IN_INVOLVED_CREATION">
              Sie müssen mindestens eines der Felder ausfüllen
            </div>
            <div *ngIf="addressForm.hasError('pattern', ['zip'])"
                 class="cross-validation-error-message alert alert-danger"
                 i18n="Fehlermeldung: wenn eine Postleitzahl eingegeben wird, muss sie im korrekten Format sein@@ERROR_ZIP_FORMAT_NOT_VALID">
              Wenn Sie eine Postleitzahl eingeben, geben Sie bitte genau 5 Zahlen ein
            </div>
            <div *ngIf="contactForm.hasError('pattern', ['email'])"
                 class="cross-validation-error-message alert alert-danger"
                 i18n="Fehlermeldung: wenn eine E-Mail-adresse eingegeben wird, muss sie im korrekten Format sein@@ERROR_EMAIL_FORMAT_NOT_VALID">
              Wenn Sie eine E-Mail-Adresse eingeben, geben Sie bitte eine E-Mail in korrektem Format an
            </div>
            <div *ngIf="contactForm.hasError('pattern', ['phone'])"
                 class="cross-validation-error-message alert alert-danger"
                 i18n="Fehlermeldung: wenn eine Telefonnummer eingegeben wird, muss sie im korrekten Format sein@@ERROR_PHONE_NOMBER_FORMAT_NOT_VALID">
              Wenn Sie eine Telefonnummer eingeben, geben Sie bitte eine Telefonnummer in korrektem Format an: Zahlen, Leerzeichen und +#()-_
            </div>


            <div class="form-group row">
              <label for="involved_name" class="col-sm-4 col-form-label"
                     i18n="Label Eingabefeld: Name des*r Beteiligten oder Zeug*in@@MODAL_EDIT_INVOLVED_LABEL_NAME">
                Name:</label>
              <input type="text" formControlName="name"  id="involved_name" class="col-sm-8 form-control">
            </div>

            <fmfw-contact-input
              [formGroup]="editInvolvedForm.get('contact')"
              formId="ip_contact"
              label="Kontakt:"
              i18n-label="Kontaktdaten einer Person bzw. Institution@@LABEL_CONTACT">
            </fmfw-contact-input>

            <div class="form-group row">
              <label for="involved_note" class="col-sm-4 col-form-label"
                     i18n="Label Eingabefeld: Bemerkung zum*r Beteiligten oder Zeug*in@@MODAL_EDIT_INVOLVED_LABEL_NOTE">
                Bemerkung:</label>
              <textarea formControlName="note"
                        id="involved_note" class="col-sm-12 form-control" rows="5"></textarea>
            </div>

            <div class="modal-button-group">
              <button type="submit" [disabled]="!editInvolvedForm.valid"
                      i18n="Button auf Modal 'ändern/hinzufügen' - Änderungen übernehmen@@MODAL_EDIT_BUTTON_SUBMIT">
                Änderungen übernehmen</button>
              <button type="button" (click)="editInvolvedModal.hide()"
                      i18n="Button auf Modal 'ändern/hinzufügen' - abbrechen (Modal schließen, Änderungen nicht übernehmen aber Eingaben im Modal erstmal nicht entfernen@@MODAL_EDIT_BUTTON_CANCEL">
                Abbrechen</button>
              <button type="button" (click)="clearInputs(editInvolvedForm)"
                      i18n="Button auf Modal 'ändern/hinzufügen' - Eingaben zurücksetzen@@MODAL_EDIT_BUTTON_CLEAR">
                Eingaben zurücksetzen</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #confirmDeleteItemModal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="confirm-delete-item">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="confirm-delete-item" class="modal-title pull-left"
            i18n="Dialog-Header: ausgewählten Eintrag aus der Liste löschen?@@MODAL_HEADER_DELETE_ITEM">
          Ausgewählten Eintrag löschen?</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="confirmDeleteItemModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p i18n="Dialog-Infotext: ausgewählten Eintrag aus der Liste löschen?@@MODAL_TEXT_DELETE_ITEM">
          Soll der ausgewählte Eintrag wirklich gelöscht werden?</p>
        <div class="modal-button-group">
          <button (click)="deleteConfirmed()"
                  i18n="Button auf Modal zum Bestätigen vom Löschen - löschen@@BUTTON_MODAL_DELETE_YES">
            Löschen</button>
          <button (click)="confirmDeleteItemModal.hide()"
                  i18n="Button auf Modal zum Bestätigen vom Löschen - abbrechen und nicht löschen@@BUTTON_MODAL_DELETE_NO">
            nicht löschen</button>
        </div>
      </div>
    </div>
  </div>
</div>
