<div *ngIf="chartDataState === CHART_DATA_STATE.DATA_LOADED && chartData && chartMetaData" style="width:100%;">
  <div class="row">
    <div class="col-12">
      <ng-container *ngIf="chartMetaData">
        <h4>{{chartMetaData.title}}</h4>
        <!--        <h5>{{chartMetaData.subtitle}}</h5> -->
        <p>{{chartMetaData.description}}</p>

      </ng-container>
    </div>
    <div class="col-12">
      <div class="chart-area">
        <chart
          [printable]="printable"
          [chartData]="chartData"
          [title]="chartMetaData.title"></chart>
      </div>
    </div>
  </div>
</div>
<div *ngIf="chartDataState === CHART_DATA_STATE.LOADING_DATA">
  loading....
</div>

