<div id="header">
  <app-nav-top-logout></app-nav-top-logout>
</div>
<div class="content">
  <div class="container">
    <h1 i18n="Überschrift auf Page-Not-Found Seite@@HEADING_PAGE_NOT_FOUND">Seite nicht gefunden</h1>
    <p i18n="Infotext auf Page-Not-Found Seite@@INFO_PAGE_NOT_FOUND">Die Seite konnte nicht gefunden werden</p>
    <div class="centered_content">
      <button type="button"
              i18n="Button um zurück zum Dashboard zu kommen@@BUTTON_BACK_TO_DASHBOARD"
              routerLink="/items">Zurück zum Dashboard
      </button>
    </div>
  </div>
</div>
